# These requirements are dependencies of tensorflow. installing them into the base env to avoid duplicate installation
# in the cpu and gup envs
bleach==1.5.0
html5lib==0.9999999
Markdown==2.6.9
numpy==1.13.3
protobuf==3.5.0.post1
enum34==1.1.6
Werkzeug==0.13
wheel==0.30.0
